img.background {
    position: absolute;
    left: 0px;
    top: 55px;
    z-index: -1;
    width: 100%;
    height: 110%;
    -webkit-filter: blur(2px);
    filter: blur(5px);
}

body{
    margin: 0;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-left: 2%;
    margin-top: 2%;
}

.aboutProject {
    width: 70%;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.contact {
    width: 18%;
}

#roxContact {
    margin-left: 5%;
}

.copyEmail {
    background-color: rgb(255, 82, 75);
    border: 1px black solid;
}   .copyEmail:hover {opacity: 85%; border: 2px black solid;}