body{
    margin: 0;
}



#box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-left: 2%;
    margin-top: 2%;
}

.aboutProject {
    width: 70%;
}

#contactInfo {
    margin-top: 10%;
    margin-left: 5%;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.contact {
    width: 18%;
}

#roxContact {
    margin-left: 5%;
}