img.background {
    position: absolute;
    left: 0px;
    top: 55px;
    z-index: -1;
    width: 100%;
    height: 110%;
    -webkit-filter: blur(2px);
    filter: blur(5px);
}

body{
    margin: 0;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 0;
}

#aboutProject {
    width: 70%;
    padding: 1%;
    text-align: center;
}   #aboutProject:hover {background-color: rgb(255, 255, 255, 25%); border: 2px rgb(220, 0, 0) solid; border-radius: 4px;}

#contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.contact {
    padding: 2%;
    text-align: center;
}   .contact:hover {background-color: rgb(255, 255, 255, 25%); border: 2px rgb(220, 0, 0) solid; border-radius: 4px;}

.copyEmail {
    background-color: transparent;
    border: 2px rgb(220, 0, 0) solid;
    border-radius: 4px;
}   .copyEmail:hover {background-color: rgb(255, 82, 75);}