body {
    margin: 0;
}

.contacts {
    display: flex;
    flex-direction: row;
}

#contacts {
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.contactInfo {
    margin-left: 2%;

}