body {
    background-color: lightblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img.background {
    position: absolute;
    left: 0px;
    top: 55px;
    z-index: -1;
    width: 100%;
    height: 110%;
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.background {
    width: 100%;
    height: 100%;
}

#graphBody {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: row;
    justify-content: center;
}

#centre {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myPlot {
    margin-top: 25px;
    width: 85%;
    height: 50%;
}

#timeDivDiv {
    margin-top: 15px;
    width: 42.5%;
    height: 10%;
    display: flex;
}

#timeDiv {
    width: 75%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    
}

#startTimeDiv {
    background-color: rgb(220, 0, 0);
    border-top-left-radius: 15px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   #startTime {height: auto; width: 35%; margin-right: 2.5%;}

#stopTimeDiv {
    background-color: rgb(255, 82, 75);
    border-bottom-left-radius: 15px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   #stopTime {height: auto; width: 35%; margin-right: 2.5%;}

#refreshButton {
    background-image: url(https://www.freeiconspng.com/thumbs/reload-icon/arrow-refresh-reload-icon-29.png);
    background-color: rgb(255, 0, 6);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 0ch;
    width: 25%;
    height: auto;
}   #refreshButton:hover {border: 2px black solid; opacity: 85%;}

#sensorButtonsDiv {
    margin-top: 20px;
    border: 1px black solid;
    width: 30%;
    height: 3.5%;
    display: flex;
    justify-content: center;
}

.sensorButton1 {
    background-color: rgb(220, 0, 0);
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   .sensorButton1 input {opacity: 0; height: 0px; width: 0;}
    .sensorButton1:hover {opacity: 85%; border: 1px black solid;}

.sensorButton2 {
    background-color: rgb(255, 82, 75);
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   .sensorButton2 input {opacity: 0; height: 0px; width: 0;}
    .sensorButton2:hover {opacity: 85%; border: 1px black solid;}

.sensorButton1Active {
    background-color: rgb(220, 0, 0);   
    opacity: 50%;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   .sensorButton1Active input {opacity: 0; height: 0px; width: 0;}
    .sensorButton1Active:hover {opacity: 85%; border: 1px black solid;}
    
.sensorButton2Active {
    background-color: rgb(255, 82, 75);   
    opacity: 50%;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   .sensorButton2Active input {opacity: 0; height: 0px; width: 0;}
    .sensorButton2Active:hover {opacity: 85%; border: 1px black solid;}

#graphSwitcherDiv {
    width: 12.5%;
    height: 600px;
    justify-self: flex-start;
}
.tempButton {
    margin-top: 15%;
    margin-bottom: 12px;
    margin-left: 15%;
    background-color: rgb(220, 0, 0);
    border: 2px solid;
    border-radius: 8px;
    width: 100%;
    height: 35px;
}   .tempButton:hover {border: 2px white solid;}

.tempButtonActive {
    margin-top: 15%;
    margin-bottom: 12px;
    margin-left: 15%;
    background-color: rgb(220, 0, 0);
    border: 2px white solid;
    border-radius: 8px;
    width: 100%;
    height: 35px;
}

.humButton {
    margin-left: 15%;
    background-color: rgb(255, 82, 75);
    border: 2px solid;
    border-radius: 8px;
    width: 100%;
    height: 35px;
}   .humButton:hover {border: 2px white solid;}

.humButtonActive {
    margin-left: 15%;
    background-color: rgb(255, 82, 75);
    border: 2px white solid;
    border-radius: 8px;
    width: 100%;
    height: 35px;
}

.filler {
    width: 12.5%;
    height: 600px;
}

footer {
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}