/*entire navigation bar*/
    #navBar {
        background-color: white;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/*"logo", left side*/
    #iHetasteLaget {
        border: 0;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-left: 2%;
        width: 15%;
        height: 60%;
        animation-name: logo; 
        animation-duration: 5s; 
        animation-iteration-count: infinite;
        font-size: large;
    }

    @keyframes logo {
        0% {background-color: white;}
        25% {background-color: rgb(220, 0, 0);}
        50% {background-color: white;}
        75% {background-color: rgb(220, 0, 0);}
    }

    #change-text-color {
            background-color: red;
            font-weight: bold;
            height: 60%;
            width: 25%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
    }
/*all three right side buttons*/
    #navButtonsDiv {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

/*singular button, shared class*/
    .navButton {
        background-color: white;
        font-weight: bold;
        height: 60%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   .navButton:hover {animation-name: navButton;  animation-duration: 4s; animation-iteration-count: infinite;}

    @keyframes navButton {
        0% {background-color: white;}
        25% {background-color: rgb(255, 82, 75);}
        50% {background-color: white;}
        75% {background-color: rgb(255, 82, 75);}
        100% {background-color: white;}
    }

/*individual buttons*/        
    #navTheGraph {
        margin-right: 8%;
    }

    #navTheAbout {
        margin-right: 8%;
    }

    #navTheSettings {
        margin-right: 2.5%;
    }