img.background {
    position: absolute;
    left: 0px;
    top: 55px;
    z-index: -1;
    width: 100%;
    height: 110%;
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

body {
    margin: 0;
}
.settings {
    margin-left: 2%;
}

.sensorInput {
    border: 0;
    background-color: rgb(255, 82, 75);
}   .sensorInput:hover {opacity: 85%; border: 2px black solid;}

#saveSensorNames{
    background-color: rgb(255, 82, 75);
}