img.background {
    position: absolute;
    left: 0px;
    top: 55px;
    z-index: -1;
    width: 100%;
    height: 110%;
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

body {
    margin: 0;
}

#settingsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    margin-left: 2%;
    justify-self: center;
}

.sensorLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sensorInput {
    background-color: transparent;
    border: 2px rgb(220, 0, 0) solid;
    border-radius: 4px;
}   .sensorInput:hover {background-color: rgb(255, 82, 75);}
    .sensorInput:focus {background-color: rgb(255, 82, 75);}

#saveSensorNames{
    background-color: transparent;
    border: 2px rgb(220, 0, 0) solid;
    border-radius: 4px;
}   #saveSensorNames:hover {background-color: rgb(255, 82, 75);}