#body {
    background-color: bisque;
    border: 2px black solid;
    width: auto;
    height: 800px;
    display: flex;
    flex-wrap: row;
    justify-content: center;
}

#centre {
    border: 5px yellow solid;
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myPlot {
    border: 5px black solid;
    margin-top: 25px;
    width: 1000px;
    height: 500px;
}

#timeDiv {
    background-color: green;
    width: fit-content;
    height: max-content;
    display: flex;
    justify-content: center;
}

#startTimeDiv {
    background-color: blue;
    display: flex;   
    align-items: center;
    font-size: 20px;
}

#stopTimeDiv {
    background-color: red;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#buttons {
    height: fit-content;
    margin-top: 20px;
    border: 1px black solid;
}

#graphSwitcherDiv {
    background-color: aquamarine;
    width: 150px;
    height: 800px;
    justify-self: flex-start;
}

#tempButton {
    background-color: crimson;
    border-radius: 8px;
    margin-bottom: 12px;
}   #tempButton:hover {background-color: orangered;}

#humButton {
    background-color: blue;
    border-radius: 8px;
}   #humButton:hover {background-color: dodgerblue;}

.button {
    width: 150px;
    height: 35px;
}

.filler1 {
    background-color: azure;
    width: 200px;
    height: 800px;
}

.filler2 {
    background-color: aquamarine;
    width: 150px;
    height: 800px;
}