#body {
    background-color: bisque;
    width: auto;
    height: 800px;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#centre {
    border: 5px yellow solid;
    height: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#myPlot {
    height: fit-content;
    width: fit-content;
    border: 5px black solid;
    align-self: center;
}

#time {
    background-color: green;
    width: fit-content;
    height: 100px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

#startTimeDiv {
    background-color: blue;
    display: flex;   
}

#stopTimeDiv {
    background-color: red;
    display: flex;
}

#buttons {
    height: fit-content;
    margin-top: 20px;
    border: 1px black solid;
    justify-self: center;
}

#graphSwitcher {
    background-color: aquamarine;
    height: 800px;
    width: 150px;
    justify-self: flex-start;
}

.button {
    width: 150px;
    height: 35px;

}

.filler1 {
    background-color: azure;
    height: 800px;
    width: 200px;
}

#filler2 {
    background-color: aquamarine;
    height: 800px;
    width: 150px;
}