body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body {
    background-color: bisque; 
    border: 2px black solid;
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: row;
    justify-content: center;
}

#header {
    border: 3.5px black solid;
    border-top-left-radius: 10px; border-bottom-right-radius: 10px;
    width: 310px;
    height: auto;
    display: flex;
    justify-content: center;
}

#centre {
    background-color: lightblue;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myPlot {
    margin-top: 25px;
    width: 85%;
    height: 50%;
}

#timeDivDiv {
    background-color: green;
    margin-top: 15px;
    width: 60%;
    height: 15%;
    display: flex;
}

#timeDiv {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#startTimeDiv {
    background-color: blue;
    border: 2px blue solid;
    width: 100%;
    height: 50%;
    display: flex;   
    align-items: center;
}

#stopTimeDiv {
    background-color: red;
    border: 2px red solid;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#refreshButton {
    background-color: purple;
    border: 2px purple solid;
    width: 20%;
    height: 100%;
}

#buttons {
    height: fit-content;
    margin-top: 20px;
    border: 1px black solid;
}

#graphSwitcherDiv {
    background-color: aqua;
    width: 7.5%;
    height: 800px;
    justify-self: flex-start;
}
#tempButton {
    background-color: red;
    border-radius: 8px;
    margin-bottom: 12px;
}   #tempButton:hover {background-color: pink; border: 2px black solid;}

#humButton {
    background-color: blue;
    border-radius: 8px;
}   #humButton:hover {background-color: lightblue; border: 2px black solid;}

.button {
    width: 100%;
    height: 35px;
}

.filler1 {
    background-color: lightskyblue;
    width: 5%;
    height: 800px;
}

.filler2 {
    background-color: aqua;
    width: 7.5%;
    height: 800px;
}